In [3]:
#crud operation in mongodb using python

import pymongo



#connect to mongodb

connection_url = 'mongodb://localhost:27017'
client = pymongo.MongoClient(connection_url)

client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
#creating a database

db = client.MongoDB_CRUD
db

#creating a collection

students = db.students
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'MongoDB_CRUD'), 'students')

In [7]:
#adding single document in students collection

document ={
    "Name":"Pradip Chaurel",
    "Country":"Nepal",
    "Course":"B.Tech",
    "Age":22
}

students.insert_one(document)

In [13]:
print(students.find_one())

{'_id': ObjectId('64609a6d727c295363d253bd'), 'Name': 'Pradip Chaurel', 'Country': 'Nepal', 'Course': 'B.Tech', 'Age': 22}

In [14]:
#insert multiple documents

documents = [
    {"Name":"Pradip Chaurel","Country":"Nepal","Course":"B.Tech", "Age":22},
    {"Name":"A","Country":"Nepal","Course":"B.Tech", "Age":21},
    {"Name":"B","Country":"Nepal","Course":"B.Tech", "Age":20},
    {"Name":"C","Country":"Nepal","Course":"B.Tech", "Age":23},
]

students.insert_many(documents)

In [16]:
# to show the list of the items
#print(list(students.find()))

<pymongo.cursor.Cursor object at 0x000002520E318D60>

In [19]:
# to update documents

students.update_one({"Name":"Pradip Chaurel"},{"$set":{"Name":"Jack ma"}})
print(students.find_one())

# we can use update_many() to update multiple items

{'_id': ObjectId('64609a6d727c295363d253bd'), 'Name': 'Jack ma', 'Country': 'Nepal', 'Course': 'B.Tech', 'Age': 22}

In [21]:
#deleting documents

students.delete_one({"Name":"Jack ma"})

In [22]:
students.update_one({"Name":"Jack ma"},{"$set":{"Country":"China"}})